{% extends "::panelCustomer.html.twig" %}

{% block mainbox %}
    <div class="col-md-6">
        <h2>Pojazdy</h2>
        <ul>
            <li>
                <a href="{{ path("customerPanel_myVehicles") }}">Moje pojazdy</a><br>
            </li>
        </ul>
    </div>
{% endblock %}
