{% extends "::base.html.twig" %}

{% block body %}

        <div class="row">
            <div class="col-md-2">
                <br>
                <div class="btn-group btn-group-vertical btn-group-lg">

                    <a href="{{ path("adminPanel_customers") }}" class="btn btn-default" type="button">
                        <em class="glyphicon glyphicon-align-left"></em> Klienci
                    </a>
                    <a href="{{ path("adminPanel_vehicles") }}" class="btn btn-default" type="button">
                        <em class="glyphicon glyphicon-align-left"></em> Pojazdy
                    </a>
                    <button class="btn btn-default" type="button">
                        <em class="glyphicon glyphicon-align-left"></em> Zlecenia
                    </button>
                    <button class="btn btn-default" type="button">
                        <em class="glyphicon glyphicon-align-left"></em> Pracownicy
                    </button>
                    <button class="btn btn-default" type="button">
                        <em class="glyphicon glyphicon-align-left"></em> Reports
                    </button>
                </div>
            </div>
            <div class="col-md-10">
                {% block mainbox %}
                {% endblock %}
            </div>
        </div>
{% endblock %}